import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import org.jenkinsci.plugins.plaincredentials.*
import org.jenkinsci.plugins.plaincredentials.impl.*
import hudson.util.Secret
import hudson.plugins.sshslaves.*;

domain = Domain.global()
store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

registryCreds = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  "registry", "Docker Registry Credentials",
  "{{quay_user}}",
  "{{quay_password}}"
)

dcosCreds = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  "dcos", "DCOS Credentials",
  "{{dcos_user}}",
  "{{dcos_password}}"
)
dockercreds = new StringCredentialsImpl(
  CredentialsScope.GLOBAL,
  "dockercreds",
  "Docker credentials file name",
  Secret.fromString("{{docker_registry_credentials_file}}"))

store.addCredentials(domain, registryCreds)
store.addCredentials(domain, dcosCreds)
store.addCredentials(domain, dockercreds)
store.updateCredentials(domain, registryCreds, registryCreds)
store.updateCredentials(domain, dcosCreds, dcosCreds)
store.updateCredentials(domain, dockercreds, dockercreds)
