LoadPlugin curl

<Plugin curl>
  <Page "elasticsearch_proxy">
    URL "http://elasticsearch-proxy-{{ region }}.{{ project }}.cloud.bobby.net:9200"
    MeasureResponseCode true
    MeasureResponseTime true
  </Page>
</Plugin>

