{
"overwrite": true,
"dashboard": {
  "id": null,
  "title": "Mesos Tasks Overview",
  "originalTitle": "Mesos Tasks Overview",
  "tags": ["overview"],
  "style": "dark",
  "timezone": "utc",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "rows": [
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": "Graphite",
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 1,
          "isNew": true,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "null as zero",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "refId": "A",
              "target": "alias(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.gauge.master_tasks_running), \"Running\")",
              "textEditor": true
            },
            {
              "refId": "B",
              "target": "alias(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.gauge.master_tasks_starting), \"Starting\")",
              "textEditor": true
            },
            {
              "refId": "C",
              "target": "alias(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.gauge.master_tasks_staging), \"Staging\")",
              "textEditor": true
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Task States",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "Row"
    },
    {
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": "Graphite",
          "editable": true,
          "error": false,
          "fill": 1,
          "grid": {
            "leftLogBase": 1,
            "leftMax": null,
            "leftMin": null,
            "rightLogBase": 1,
            "rightMax": null,
            "rightMin": null,
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "id": 2,
          "isNew": true,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 2,
          "links": [],
          "nullPointMode": "null as zero",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "refId": "A",
              "target": "alias(derivative(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.counter.master_tasks_error)), \"Error\")",
              "textEditor": true
            },
            {
              "refId": "B",
              "target": "alias(derivative(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.counter.master_tasks_failed)), \"Failed\")",
              "textEditor": true
            },
            {
              "refId": "C",
              "target": "alias(derivative(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.counter.master_tasks_finished)), \"Finished\")",
              "textEditor": true
            },
            {
              "refId": "D",
              "target": "alias(derivative(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.counter.master_tasks_killed)), \"Killed\")",
              "textEditor": true
            },
            {
              "refId": "E",
              "target": "alias(derivative(sumSeries(collectd.$project.$region.mesos-master.*.mesos-master.counter.master_tasks_lost)), \"Lost\")",
              "textEditor": true
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Task Outcomes",
          "tooltip": {
            "shared": true,
            "value_type": "cumulative"
          },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [
            "short",
            "short"
          ]
        }
      ],
      "title": "New row"
    }
  ],
  "time": {
    "from": "now-1h",
    "to": "now"
  },
  "timepicker": {
    "now": true,
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "templating": {
    "list": [
      {
        "allFormat": "glob",
        "current": {
          "text": "{{ mesos_project }}",
          "value": "{{ mesos_project }}"
        },
        "datasource": "Graphite",
        "includeAll": false,
        "multi": false,
        "multiFormat": "glob",
        "name": "project",
        "options": [
          {
            "text": "{{ mesos_project }}",
            "value": "{{ mesos_project }}",
            "selected": true
          }
        ],
        "query": "collectd.*",
        "refresh": true,
        "regex": "",
        "type": "query"
      },
      {
        "allFormat": "glob",
        "current": {
          "text": "{{ region }}",
          "value": "{{ region }}"
        },
        "datasource": "Graphite",
        "includeAll": false,
        "multi": false,
        "multiFormat": "glob",
        "name": "region",
        "options": [
          {
            "text": "{{ region }}",
            "value": "{{ region }}",
            "selected": true
          }
        ],
        "query": "collectd.$project.*",
        "refresh": true,
        "regex": "",
        "type": "query"
      }
    ]
  },
  "annotations": {
    "list": []
  },
  "refresh": "30s",
  "schemaVersion": 8,
  "version": 2,
  "links": []
}
}
