server {
    listen 443;
    server_name {{ mesos_ssl_basename }}.cloud.bobby.net;
    ssl on;
    ssl_certificate {{ mesos_certs_dir }}{{ mesos_ssl_basename }}.crt;
    ssl_certificate_key {{ mesos_certs_dir }}{{ mesos_ssl_basename }}.key;

    set $bobby_backend "https://master.mesos";

    location / {
      proxy_pass $bobby_backend;
      proxy_redirect $bobby_backend https://{{ mesos_ssl_basename }}.cloud.bobby.net;
    }

}
