LoadPlugin curl
<Plugin curl>
  <Page "avi_controller">
    URL "https://{{ openstack['private_v4'] }}:9443"
    Digest false
    VerifyPeer true
    VerifyHost false
    MeasureResponseTime true
    MeasureResponseCode true
  </Page>
</Plugin>
