<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.jiraext.Config_-PluginDescriptor plugin="jira-ext@0.5">
  <jiraBaseUrl>{{ jenkins_jiraext_jirabaseurl }}</jiraBaseUrl>
  <username>{{ jenkins_jiraext_username }}</username>
  <password>{{ jenkins_jiraext_password }}</password>
  <pattern>{{ jenkins_jiraext_pattern }}-</pattern>
  <verboseLogging>{{ jenkins_jiraext_verboselogging }}</verboseLogging>
  <timeout>{{ jenkins_jiraext_timeout }}</timeout>
</org.jenkinsci.plugins.jiraext.Config_-PluginDescriptor>
